---
interface WorkButtonParams {
  buttonText: string;
  buttonLink: string;
}

interface Props {
  workTitle: string;
  workDescription: string;
  workButtons?: Array<WorkButtonParams>;
  workImageUrl?: string;
}

const {workTitle, workDescription, workImageUrl, workButtons} = Astro.props;
---

<section class="md:flex md:content-center md:justify-around mb-[50px] md:mb-[30px]">
  <div class="md:w-1/2 mb-[30px] px-[10px] md:min-w-[680px]">
    <p class="text-[32px] font-[700] mb-[20px]">{workTitle}</p>
    <div class="text-[18px] font-[400] px-[10px]">{workDescription}</div>
    <div class="mt-[40px]">
      {workButtons?.map(button =>
        <a href={button.buttonLink} class="work-button">{button.buttonText}</a>
      )}
    </div>
  </div>
  <div class="text-center md:w-[500px]">
    { workImageUrl && <img class="inline w-full" src={workImageUrl} /> }
  </div>
</section>

<style lang="scss">
  .work-button {
    padding: 10px 30px;
    background-color: #FFF;
    color: #000;
    font-weight: 300;
    text-decoration: none;
    border: solid 2px #000;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    &:hover {
      background-color: #e7e8ec;
    }
  }
</style>
